<!DOCTYPE html>
<html>
    <head>
        <title>Arcanaeum</title>
        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
        <script data-main="scripts/main" src="scripts/lib/require.js"></script>
	    <link href="styles/root.css" rel="stylesheet">
    </head>
    <body>

        <div id="content">
	        <h1>Arcanaeum</h1>

	        <div id="login">
	        	<a href="/auth/google">Sign In with Google</a>
	        </div>

	  	</div>

    </body>
</html>