<!DOCTYPE html>
<html>
    <head>
        <title>Arcanaeum</title>
        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
        <script data-main="scripts/main" src="scripts/lib/require.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link href="styles/root.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>

        <div id="content">

            <div id="login">
    	        <h1>Arcanaeum</h1>
	        	<a href="/auth/google">So you wish to master the arcane arts?</a>
	        </div>
            
	  	</div>

    </body>
</html>