<!DOCTYPE html>
<html>
    <head>
        <title>Arcanaeum</title>
        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
        <script data-main="scripts/main" src="scripts/lib/require.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	    <link href="styles/root.css" rel="stylesheet">
	    <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="content">
	        <div id="logout">
	        	<a href="#" id="settings-link">Settings</a> | <a href="/logout">Log Out</a>
	        </div>

	        <h1>Arcanaeum</h1>

	        <div id="settings"></div>

	        <div id="search-filter">
			    <input type="text" name="search" class="search" placeholder="Title or author...">

			    <div id="actions">
		        	<div id="filters">
		        		<p>Show:
		        			<a href="#" id="all" class="selected">All</a>
		        			<a href="#" id="starred">Starred</a>
		        			<a href="#" id="library">Library</a>
		        			<a href="#" id="not-library">Not in Library</a>
		        		</p>
		        	</div>

			        <div id="expand-collapse">
			        	<a href="/api/books.csv">Download CSV</a>
		        		<a href="#" id="expand-all">Expand All</a>
		        		<a href="#" id="collapse-all">Collapse All</a>
		        	</div>
		        </div>
	        </div>

		    <div class="books">
		    	<div class="header-row">
		    		<div class="star"></div>
		    		<div class="title">Title</div>
		    		<div class="author">Author</div>
		    		<div class="inLibrary">@ Library</div>
		    		<div class="librarySection">Section</div>
		    		<div class="modify"></div>
		    	</div>
		        <div id="add">
		        	<div></div>
		        </div>
		    </div>
	    </div>

	    <script type="text/template" id="book-view-template">
		    <div class="star"><a href="#" class="{{ isStarred ? 'starred' : 'unstarred' }}"></a></div>
			<div class="title">{{ title || '' }}</div>
			<div class="author">{{ author || '' }}</div>
			<div class="inLibrary"><span class="{{ libraryInfo.get('isAvailable') ? 'checkmark' : '' }}"></span></div>
			<div class="librarySection">{{ libraryInfo.get('section') }}</div>
			<div class="modify"><a href="#" class="edit">edit</a> | <a href="#" class="delete">delete</a></div>
			<div class="editView"></div>
			<div class="expanded"></div>
	    </script>

	    <script type="text/template" id="book-detail-view-template">
		    <a href="{{ amazon }}" target="_blank">Amazon</a> |
			<a href="{{ goodreads }}" target="_blank">Goodreads</a> |
			<a href="{{ library }} target="_blank"" class="library">Library</a>
	    </script>

	    <script type="text/template" id="book-edit-view-template">
		    <form>
			    <fieldset>
			    	<button class="star {{ starred ? 'starred' : 'unstarred' }}"></button>
					<input type="text" name="title" class="title" placeholder="Title" value="{{ title }}">
					<input type="text" name="author" class="author" placeholder="Author" value="{{ author }}">
					<input type="checkbox" name="isAvailable" class="inLibrary" value="isAvailable" {{ libraryInfo.get('isAvailable') ? 'checked' : ''}}>
					<input type="text" name="section" class="librarySection" placeholder="Section" value="{{ libraryInfo.get('section') }}">
					<button class="cancel">cancel</button>
					<button class="submit">save</button>
			    </fieldset>
			</form>
	    </script>

	    <script type="text/template" id="settings-view-template">
		    <form>
			    <fieldset>
			    	<label>
			    		Library Search URL
						<input type="text" name="librarySearchUrl" placeholder="Library Search URL" value="{{ librarySearchUrl }}">
					</label>
					<button class="cancel">cancel</button>
					<button class="submit">save</button>
			    </fieldset>
			</form>
	    </script>

    </body>
</html>