@linkColor: #267ADA;
@linkHoverColor: #489DFF;
@linkBorderColor: #26ade4;

@deleteColor: #DF5555;
@deleteHoverColor: #EA7E7E;

@cancelColor: #939393;
@cancelHoverColor: darken(@cancelColor, 20%);

@lightBackground: #f5f5f5;
@lightHoverBackground: darken(@lightBackground, 3%);

@containerWidth: 960px;

@rowPadding: 10px;
@starWidth: 24px;
@titleWidth: 424px;
@authorWidth: 225px;
@inLibraryWidth: 70px;
@librarySectionWidth: 100px;
@modifyWidth: 80px;

.compact(@rules) {
	@media (max-device-width: @containerWidth) { @rules(); }
}

.regular(@rules) {
	@media (min-device-width: @containerWidth) { @rules(); }
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-weight: normal;
	font-size: 2em;
	.compact({
		text-align: center;
	});
}

a {
	text-decoration: none;
	color: @linkColor;
	&:hover {
		color: @linkHoverColor;
	}
}

/* Statuses */

.noLinkHover {
	color: @linkColor;
}

.delete {
	color: @deleteColor;
	&:hover {
		color: @deleteHoverColor;
	}
}

.cancel {
	color: @cancelColor;
	&:hover {
		color: @cancelHoverColor;
	}
}

.editing {
	background-color: @lightHoverBackground !important;
}

.starred, .unstarred {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.starred {
	background-image: url(../images/star_gold.png);
	background-repeat: no-repeat;
}

.unstarred {
	background-image: url(../images/star_grey.png);
	background-repeat: no-repeat;
}

.checkmark {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../images/checkmark.png);
	background-repeat: no-repeat;
}

#content {
	.regular({
		width: @containerWidth;
		margin: 0 auto;
	});
	position: relative;
}

/* Header */

#login {
	.compact({
		text-align: center;
	});
}

#logout {
	.regular({
		position: absolute;
		right: 0;
		top: 10px;
	});
	.compact({
		text-align: right;
	});
}

#settings {
	background-color: @lightBackground;
	margin: 20px 0;
	padding: 10px;
	input[type=text] {
		width: 100%;
	}
}

input[type=text] {
	border: 1px solid #bbb;
}

input[type=text].search {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1em;
	border-radius: 4px;
}

#actions {
	position: relative;
	font-size: 0.8em;
}

#filters  {
	a {
		display: inline-block;
		background-color: @lightBackground;
		padding: 5px 10px;
		.compact({
			padding: 5px;
		});
		margin: 0 4px;
	}

	a:hover {
		.noLinkHover;
		background-color: @lightHoverBackground;
	}

	.selected, .selected:hover {
		color: #fff;
		background-color: @linkColor;
	}
}

#expand-collapse {
	.regular({
		position: absolute;
		right: 0;
		bottom: 0;
	});

	a {
		.regular({
			margin: 5px 0 5px 10px;
		});
		.compact({
			margin-right: 5px;
		});
	}
}

/* Add/edit form */

form {
	@formPadding: 3px;

	font-size: 0.9em;

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	input[type=text] {
		padding: 4px;
		font-size: 1em;
		box-sizing: border-box;
		.compact({
			display: block;
			width: 100%;
		});
	}

	button {
		border: 0;
		background-color: transparent;;
		color: @linkColor;
		font-size: 0.9em;
		cursor: pointer;
		&:hover {
			color: @linkHoverColor;
		}
	}

	.regular({

	.star {
		width: @starWidth - @formPadding;
		margin: 0;
		padding: 0;
	}

	.title {
		width: @titleWidth - @formPadding;
	}

	.author {
		width: @authorWidth - @formPadding;
	}

	.inLibrary {
		width: @inLibraryWidth - @formPadding;
		height: 15px;
	}

	.librarySection {
		width: @librarySectionWidth - @formPadding;
	}

	.modify {
		width: @modifyWidth - @formPadding;
	}
	});
}

/* Book list */

.hoverBackground {
	.regular({
		cursor: pointer;
		background-color: @lightHoverBackground;
	});
}

.books .book:nth-child(odd) {
	background-color: @lightBackground;
	&:hover {
		.hoverBackground;
	}
}

.book, .header-row {
	position: relative;
	padding: @rowPadding;
	div {
		display: inline-block;
		.compact({
			display: block;
		});
	}
}

.header-row {
	font-style: italic;
	.compact({
		display: none;
	});
}

.book:hover {
	.hoverBackground;
}

#add {
	padding: 0;
	.editing;
	div {
		padding: 0;
		&.editing {
			padding: 10px 0 10px 10px;
			.compact({
				padding: 10px;
			});
		}
	}
	form {
		@formPadding: 4px;
	}
}

/* Row divs */

.regular({
	.star {
		width: @starWidth;
	}

	.title {
		width: @titleWidth;
	}

	.author {
		width: @authorWidth;
	}

	.inLibrary {
		width: @inLibraryWidth;
		height: 15px;
	}

	.librarySection {
		width: @librarySectionWidth;
	}

	.modify {
		width: @modifyWidth;
	}
});

.compact({
	.title {
		font-style: italic;
	}
});

.book {
	.regular({
		.modify {
			display: none;
		}
		&:hover .modify {
			display: inline-block;
		}
	});
	.compact({
		.modify {
			&.collapsed {
				display: none;
			}
		}
	});

	.expanded {
		div {
			margin-top: 5px;
		}
		.regular({
			display: block;
			padding-left: 30px;
		});
	}

	.editView {
		.regular({
			position: absolute;
			top: 7px;
			left: @rowPadding;
		});
		.editing;
	}
}
